* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
a {
  font-weight: 700;
  text-decoration: none;
}

.about-img {
  height: 60vh;
}
.about-img img {
  height: 100%;
}
