* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row .btn {
  background: linear-gradient(
    181.88deg,
    rgba(208, 60, 30, 0.56) 1.59%,
    rgba(16, 82, 177, 0.56) 105.94%
  );
  color: white;
  width: 50%;
}
